Choose a real-world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four different variables.
Investigate the types of variables involved, their likely distributions, and their relationships with each other.
Synthesise/simulate a data set as closely matching their properties as possible.
Detail your research and implement the simulation in a Jupyter notebook â€“ the data set itself can simply be displayed in an output cell within the notebook.

In [ ]:
# Here I am importing the various libraries I require to complete the data analysis and simulation
import numpy as np
import seaborn as sea
import pandas as pd
import matplotlib.pyplot as plt
import sys

In [15]:
import pandas as pd

#data = pd.read_csv('Knock.csv') 

# display 
#print("Original 'Knock.csv' CSV Data: \n") 
#print(data) 

# drop function which is used in removing or deleting rows or columns from the CSV files 
#data.drop('mnmax', inplace=True, axis=1) 
#data.drop('mnmin', inplace=True, axis=1) 
#data.drop('gmin', inplace=True, axis=1) 
#data.drop('maxgt', inplace=True, axis=1) 
#data.drop('sun', inplace=True, axis=1) 

#print("\nCSV Data after deleting the column 'year':\n") 
#print(data)

              Year         VALUE
count  2160.000000   2160.000000
mean   2016.500000  38749.663889
std       3.452852  11146.194812
min    2011.000000  14842.000000
25%    2013.750000  31972.500000
50%    2016.500000  37725.000000
75%    2019.250000  45125.250000
max    2022.000000  94802.000000